.marge-en-tete{
    background-image: url("../IMAGES/SecretMimic/secretmimic.avif");
    display: flex; 
    justify-content: flex-end; 
}

.video {
    margin: 50px 0px 0px 0px;
}

.image-theme{
    .themeclair{
        height: 100px;
    }
}

.title {
    text-align: center;
    font-size: 350%;
}

hr {
    height: 0.05%;
    background-color: #000000;
}


.Maj {
    font-size: 415%;
}

.rectangle {
    width: 350px;
    height: 450px;
    background: #D3D3D3;
    float : left;
    border-radius: 10%;
    .mimic {
        width: 300px;
        height: 500px;
        border-radius: 15%;
        right: 15px;
        float: center;
        margin: 20px 20px 0px 25px;
    }
    shape-outside: margin-box;
    margin: 10px 20px 0px 25px;
    margin: 10px 20px px 25px;
}

.texte1 {
    padding: 20px; 
    border-left: 60%;
    margin: 50px 25px -30px 0px;
    font-size: 22px;
}


